<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div id="forgot-password-form">

      <div class="logo">
        <img src="assets/images/logos/fuse.svg">
      </div>

      <div class="title" >{{message}}</div>

      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="البريد الإلكتروني" formControlName="email">
          <mat-error *ngIf="forgotPasswordFormErrors.email.required">
            الرجاء إدخال البريد الإلكتروني
          </mat-error>
          <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
            الرجاء إدخال بريد إلكتروني صحيح
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent" style="background-color:#4ea851;color:white" aria-label="SEND RESET LINK"
          [disabled]="forgotPasswordForm.invalid" (click)="sendEmail()">
                   إرسال
                </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" style="color:#4ea851;" [routerLink]="'/login'">العودة لتسجيل الدخول</a>
      </div>

    </div>

  </div>

</div>
