<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center"
         *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="reset-password-form">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title"></div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
<!--
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="resetPasswordFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordFormErrors.email.required && resetPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>-->

                <mat-form-field>
                    <input matInput placeholder="كلمة السر" formControlName="newPassword">
                    <mat-error *ngIf="resetPasswordFormErrors.newPassword.required">
                        الرجاء إدخال كلمة السر
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="تأكيد كلمة السر " formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        الرجاء إدخال تاكيد كلمة السر
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button"  style="background-color:#4ea851;color:white" (click)="resetPassword()" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                    إعادة تعيين كلمة السر
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" style="color: #4ea851;"  [routerLink]="'/login'">العودة لتسجيل الدخول</a>
            </div>

        </div>

    </div>

</div>